$mycolors: #ff00ff, #00ff00, #8FBC8F, #D3D3D3;

@each $color in $mycolors {
    a-#{$color}{
        color: $color;
    }
}

.wrapper{
    width: 100%;
    .container__menu{
        background-color: #8FBC8F;
        text-align: center;
        font-size: 18px;
        padding: 20px;
    }
    :hover{
        color: #ff0000;
    }

    a{
        text-decoration: none;
        padding: 10px;
        
    }
}

body{
    margin: 0;
}
