body{
    margin: 0;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    margin: auto;
    

    ul{
        display: flex;
        gap: 20px;

        li{
        list-style: none
        };

        a{
            text-decoration: none;
            color: #64748b;
            font-size: 18px;
        }
    }

}
