body {
  background-image:
    linear-gradient(rgb(0 0 255 / 0.5), rgb(255 255 0 / 0.5)),
    url("pared\ de\ animales.jpg");
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  color: white;
}

.form {
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 1020px;
  gap: 5px;
  display: flex;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: large;
  
}

input {
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px;
}

.filter {
  display: flex;
  gap: 10px;
  margin: auto;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: large;
}

.sort {
  
  font-size: small;
}

.sort.hidden {
  display: none;
}

.sort li {
  list-style: none;
  padding: 6px 10px;
  transition: background 0.2s ease;
}

.sort li:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.bydate:hover,
.byname:hover, 
.bytodo:hover {
  cursor: pointer;
}

.table {
  margin: auto;
  width: 100%;
  max-width: 1020px;
  border: 1px solid black;
  border-radius: 5px;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 8px;

}

.todolist tr {

  text-align: center;
}

thead {
  background-color: grey;
  border-collapse: collapse;
  color: white;

}

img{
  margin-top: 4px;
}

.savebtn{
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: medium;
  transition: background 0.2s ease;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

button{
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 5px;
  color: grey;
  font-weight: bold;
  font-size: small;
  transition: background 0.2s ease;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.idtext{
  border-radius: 5px;
}