body {
  background-image:
    linear-gradient(rgb(0 0 255 / 0.5), rgb(255 255 0 / 0.5)),
    url("pared\ de\ animales.jpg");
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  color: white;
}

.form {
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 1020px;
  gap: 5px;
  display: flex;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: large;
  
}

input {
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px;
}

.filter {
  display: flex;
  gap: 10px;
  margin: auto;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: large;
}

.sort {
  list-style: none;
  font-size: small;
}

.sort.hidden {
  display: none;
}

.table {
  margin: auto;
  width: 100%;
  max-width: 1020px;
  border: 1px solid black;
  border-radius: 5px;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 8px;

}

.todolist tr {

  text-align: center;
}

thead {
  background-color: grey;
  border-collapse: collapse;
  color: white;

}

img{
  margin-top: 4px;
}