.wrapper{
    width: 100%;
    .container__menu{
        background-color: violet;
        text-align: center;
        font-size: 18px;
        padding: 20px;
    }
    :hover{
        color: #ff0000;
    }

    a{
        text-decoration: none;
        padding: 10px;
    }
}

body{
    margin: 0;
}

.section-1 {
    max-width: calc(100%/3);
    font-size: 14px;
    font-weight: bold;
    background-color: aquamarine;
}

.section-2{
    font-weight: bold;
    font-size: 14px;
    background-color: burlywood;
}