svg{
    height: 32px;
    width: 32px;
    color: rgb(33 116 234);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    background-color:  rgb(33 116 234);

    ul{
        list-style: none;
    }

    a{
        text-decoration: none;
        color: darkgray;
        font-weight: bold;
    }

    span{
        text-decoration: none;
        color: darkgray;
        font-weight: bold;
        margin-left: 0.25rem;
    }

    nav{
        display: flex;
        gap: 600px;
           }
          
    .section1{
        display: flex;
        gap: 30px;
    }   
    
    .section2{
        display: flex;
        gap: 30px;
    }  
    
    :hover{
        color: white;
        transition: 0.5s;
    }
}

body{
    margin: 0;
}