body {
    height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
}


#pot {
    width: 200px;
    height: 200px;
}

#pot-container {
    display: flex;
    flex-flow: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

#start-timer {
    font-size: 36px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: #DCDCDC;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#timer-display {
    font-size: 36px;
    display: none;
    border: 2px dashed black;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: #DCDCDC;
    
}


#pasta {
    width: 200px;
    height: 200px;
    display: none;
}

