.wrapper{
    width: 100%;
    .container__menu{
        background-color: violet;
        text-align: center;
        font-size: 18px;
        padding: 20px;
    }
    :hover{
        color: #ff0000;
    }

    a{
        text-decoration: none;
        padding: 10px;
    }

    .contact{
        @extend .btn;
        border: 1px solid black;
    }
}

body{
    margin: 0;
}

.btn{
    background-color: #e7e7e7;
    border-color: #333333;
}

