$nohover: true;

.wrapper{
    width: 100%;
    display: flex;
    background-color: violet;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
       
    .container__menu{
        margin: auto;
        padding: 20px;
    }
    :hover{
        color: $nohover;
        
        @if $nohover == false {
            a{
                color:white;
            }
        } @else {
            a{
                color: red;
            }
        }
    }

    a{
        text-decoration: none;
        padding: 10px;
    }
}

body{
    margin: 0;
}