.wrapper{
    width: 100%;
    .container__menu{
        background-color: violet;
        text-align: center;
        font-size: 18px;
        padding: 20px;
    }
    :hover{
        color: #ff0000;
    }

    a{
        text-decoration: none;
        padding: 10px;
    }
}

body{
    margin: 0;
}